* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;
}

:root {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #88888832;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb:hover {
  background: #88888832;
}

/* TOGGLE MENU */
.nav-bar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  align-items: center;
}

.nav-item {
  width: 100%;
  height: 100%;
}

.nav-item a {
  display: block;
}

.nav-item:last-child {
  margin-top: auto;
}