body {
  background-image: url(/images/gow_b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif !important;
}

.content {
  box-sizing: border-box;
  width: 55vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 40px;
}
.content > * {
  max-width: calc(165% - 40px);
}

.header {
  font-style: italic;
  color: whitesmoke;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2.5rem;
  width: 35rem;
  margin-bottom: 0px;
}

.text {
  font-size: 18px;
  color: white;
  line-height: 1.6rem;
  background-color: rgba(73, 61, 61, 0.5);
  border-radius: 10px;
  border: 2px solid;
  text-align: justify;
  padding: 14px;
  height: auto;
  width: 50rem;
}
.text.text3 {
  margin-top: 0px;
}

video {
  width: 50rem;
  height: 20rem;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 40px;
}

.quote-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 4rem;
  justify-content: space-evenly;
}
.quote-container > * {
  max-width: calc(132% - 40px);
}

#quote {
  color: rgb(99, 9, 9);
  font-style: italic;
  font-weight: bolder;
  text-align: start;
  width: 5rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  padding: 20px 30px;
  border-radius: 5px;
  transition: height 0.2s ease;
  background-color: rgba(73, 61, 61, 0.5);
}

#quote-img {
  width: 40rem;
}

.text.text4 {
  margin-top: 0px;
}
