body {
  background-image: url(/images/gow_b.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif !important;
}

.content {
  box-sizing: border-box;
  width: 55vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.content > * {
  max-width: calc(165% - 40px);
}

.header {
  font-style: italic;
  color: whitesmoke;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2.5rem;
  z-index: 1;
  width: 35rem;
}

.text {
  font-size: 18px;
  color: white;
  line-height: 1.5rem;
  background-color: rgba(73, 61, 61, 0.5);
  border-radius: 10px;
  border: 2px solid;
  text-align: justify;
  padding: 14px;
  height: auto;
  width: 50rem;
}

video {
  width: 45rem;
  height: 20rem;
  object-fit: cover;
}

#quote {
  color: rgb(99, 9, 9);
  font-style: italic;
  font-weight: bolder;
  text-align: justify;
  z-index: 1;
  top: 1419px;
  right: -110px;
  width: 100px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(73, 61, 61, 0.5);
}

#quote-img {
  height: auto;
  width: 550px;
  top: 1440px;
  right: 30px;
}
