html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Games", sans-serif;
  overflow-x: hidden;
  background-color: cornsilk;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  background-color: black;
  gap: 8rem;
}
.container > * {
  max-width: calc(115% - 40px);
}

#title {
  color: whitesmoke;
  font-size: 3rem;
  margin: 0;
  cursor: pointer;
}

.logos {
  color: whitesmoke;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-right: 4rem;
  gap: 1.8rem;
  top: 8px;
  right: 0;
}

/* logos of game industries */
#ps:hover,
#xbox:hover,
#nintendo:hover,
#pc:hover {
  transform: scale(1.3);
}

.logos img {
  transition: transform 0.3s ease;
}

#ps {
  max-width: 34px;
}
#xbox {
  max-width: 30px;
}
#nintendo {
  max-width: 36px;
}
#pc {
  max-width: 25px;
}
/*end of logos  */

/* sign in/up part */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login:hover,
.logos:hover img {
  cursor: pointer;
}

#sign-up::after,
#sign-in::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.4s ease;
}

#sign-up::after {
  bottom: 0;
  left: 0;
}
#sign-in::after {
  bottom: 18px;
  right: 0;
}

.login:hover #sign-up::after,
.login:hover #sign-in::after {
  width: 100%;
}
/* end of sign-in/up */

/* search bar */
#bar {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  border-radius: 15px;
  padding: 4px 2px 4px 22px;
  font-size: 18px;
  margin-bottom: 2rem;
}

#controller-img {
  transition: 0.5s;
  width: 29px;
  height: auto;
}

/* this is for removing the default "x" icon */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#controller-img:hover {
  cursor: pointer;
  background: lightgrey;
  box-shadow: 0px 0 0 4px lightgrey;
  border-radius: 6px;
}

#xmen {
  transition: 0.5s;
  border-radius: 16px;
  width: 28px;
  height: 28px;
  left: 532px;
  padding: 0;
  top: 3px;
  display: none;
}

#xmen:hover {
  background-color: lightgray;
  border-radius: 15px;
  cursor: pointer;
}
/* end of search bar */

.main {
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  overflow: auto;
}

/* categorizing column */
.sort {
  position: absolute;
  top: 5rem;
  left: 50%;
  font-size: 18px;
  margin: auto;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight: bold;
}

#list {
  font-size: 16px;
  color: whitesmoke;
  width: 27px;
  padding: 3px;
  background: rgb(14, 14, 14);
  transition: width 0.4s ease;
}

.posts {
  box-sizing: border-box;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 8rem;
  gap: 2rem;
}
.posts > * {
  max-width: calc(195% - 40px);
}

.gen {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 4px;
  line-height: 1.1rem;
  height: 11.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.poster {
  object-fit: cover;
  height: 11.4rem;
}
.gen-comment {
  padding: 20px;
}
.comment {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-variant: small-caps;
}

.gen:hover {
  filter: grayscale(1);
  transition: 0.4s;
  color: rgba(67, 64, 64, 0.991);
  transform: scale(1.05);
  cursor: pointer;
}

.gen:not(:hover) {
  filter: grayscale(0);
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: black;
}
a:focus {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

.gow {
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text1 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  position: absolute;
  color: white;
  line-height: 23px;
  background-color: rgb(73, 61, 61, 0.5);
  border-radius: 10px;
  border: 2px solid;
  text-align: justify;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  padding: 10px;
}

#text2 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  position: absolute;
  color: white;
  line-height: 23px;
  background-color: rgb(73, 61, 61, 0.5);
  border-radius: 10px;
  border: 2px solid;
  text-align: justify;
  transform: translate(-50%, -50%);
  top: 128%;
  left: 50%;
  padding: 10px;
}
