html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Games", sans-serif;
  overflow-x: hidden;
}

.container {
  background-color: black;
  min-height: 55px;
}

#title {
  position: absolute;
  color: whitesmoke;
  font-size: 3rem;
  margin: 0;
  cursor: pointer;
}

/* logos of game industries */
.logos #ps {
  position: absolute;
  max-width: 34px;
  top: 15px;
  right: 25%;
}

.logos #ps:hover {
  transform: scale(1.3);
}

.logos img {
  max-width: 100%;
  transition: transform 0.3s ease;
}

.logos:hover img {
  cursor: pointer;
}

.logos #xbox {
  position: absolute;
  max-width: 30px;
  top: 15px;
  right: 20%;
}

.logos #xbox:hover {
  transform: scale(1.3);
}

.logos #nintendo {
  position: absolute;
  max-width: 36px;
  top: 11px;
  right: 14.5%;
}

.logos #nintendo:hover {
  transform: scale(1.3);
}

.logos #pc {
  position: absolute;
  max-width: 25px;
  top: 11px;
  right: 9.5%;
}

.logos #pc:hover {
  transform: scale(1.3);
}
/*end of logos  */

/* sign in/up part */
.login {
  position: absolute;
  color: whitesmoke;
  top: 11px;
  right: 2%;
  display: flex;
  flex-direction: column;
}

.login:hover {
  cursor: pointer;
}

#sign-up::after,
#sign-in::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.4s ease;
}

#sign-up::after {
  bottom: 0;
  left: 0;
}

#sign-in::after {
  bottom: 17px;
  right: 0;
}

.login:hover #sign-up::after,
.login:hover #sign-in::after {
  width: 100%;
}
/* end of sign-in/up */

/* search bar */
.search-bar {
  position: absolute;
  display: inline-block;
  margin: 0;
  top: 14px;
  left: 30%;
  min-width: 30%;
}

.search-bar #bar {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  border-radius: 15px;
  width: 35vw;
  padding: 4px 2px 4px 22px;
  font-size: 18px;
}

.search-bar #controller-img {
  position: fixed;
  transition: 0.5s;
  width: 29px;
  height: 22px;
  right: 35.5%;
  top: 19px;
}
/* this is for removing the default "x" icon */
.search-bar input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.search-bar #controller-img:hover {
  cursor: pointer;
  background: lightgrey;
  box-shadow: 0px 0 0 4px lightgrey;
  border-radius: 6px;
}

.search-bar #xmen {
  position: absolute;
  transition: 0.5s;
  border-radius: 16px;
  width: 28px;
  height: 28px;
  left: 532px;
  padding: 0;
  top: 3px;
  display: none;
}

.search-bar #xmen:hover {
  background-color: green;
  border-radius: 15px;
  cursor: pointer;
}
/* end of search bar */

/* categorizing column */
#res {
  position: absolute;
  font-size: 18px;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 180px;
  left: 35%;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}

#list {
  font-size: 16px;
  width: auto;
  padding: 3px;
}
