body::before {
  content: "";
  background-image: url(/images/zelda.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.return {
  border: 1px solid;
  background-color: #000;
  border-radius: 0px 0px 20px 20px;
  color: orange;
  padding: 10px 20px;
  padding-top: 20px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  transform: translateY(-40%);
}
.return a {
  text-decoration: none;
  color: whitesmoke;
}
.return a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.4s ease;
  top: 39px;
  left: 10.3rem;
}

.return a:hover::after {
  width: 39%;
}

.content {
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 40px;
}
.content > * {
  max-width: calc(85% - 40px);
}

.header {
  font-style: italic;
  color: rgb(221, 191, 93);
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2.5rem;
  width: auto;
  margin-bottom: 5px;
  /* text-align: center; */
}

.img1 {
  width: 60em;
}
#exploration2 {
  margin-top: 5px;
}

.text {
  font-size: 20px;
  color: white;
  line-height: 2rem;
  background-color: rgba(73, 61, 61, 0.8);
  border-radius: 10px;
  /* text-align: justify; */
  padding: 1rem;
  height: auto;
  width: 60rem;
  margin-top: 0px;
  margin-bottom: 3px;
}
.text.text2,
.text.text4 {
  margin-top: 10px;
}
.text.textplus {
  margin-bottom: 10px;
}

video {
  width: 57rem;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quote-container {
  width: 54rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.quote-container > * {
  max-width: calc(145% - 40px);
}

#quote {
  color: rgb(181, 159, 19);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: -5px;
  background: url(/images/wood.jpg);
  font-size: 1.6rem;
}
#quote-img {
  width: 100%;
}

.pros-cons {
  text-align: left;
}
.text.text11,
.text.text12 {
  line-height: 1.5em;
  width: 21em;
  padding-left: 2em;
  font-size: 22px;
}

#angry {
  width: 52rem;
  margin-top: 60px;
}
/* .header.head3 {
  color: rgb(39, 69, 7);
  text-shadow: 3px 1px 10px #d7caca, -1px -1px 5px #dfcfcf, 1px -1px 5px #cab9b9,
    -1px 1px 5px #c7adad, 1px 1px 2px #d6c2c2;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
} */
.text.text6 {
  margin-top: 5px;
}
.small-head {
  color: rgb(218, 218, 194);
  font-size: 2rem;
  margin-bottom: 4px;
  margin-top: 3rem;
  text-shadow: 2px 2px 10px #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.header.head-final {
  margin-top: 5rem;
  text-align: center;
  color: rgb(218, 218, 194);
}

.rating {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25rem;
  margin-top: 3rem;
  right: 15px;
}

.text.rate {
  background-color: rgb(97, 63, 5);
  width: 4rem;
  border-radius: 10rem 0rem 0rem 10rem;
  padding: 1.4rem 3rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 10px #000, -1px -1px 10px #000, 1px -1px 10px #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
.text.text10 {
  position: relative;
  border-radius: 0px 10px 10px 0px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(247, 247, 243);
  color: rgb(97, 63, 5);
  font-weight: bold;
}
.text-sub {
  position: absolute;
  font-size: 15px;
  color: rgb(97, 63, 5);
  bottom: 6px;
  right: 0;
}
.text-sub a {
  font-weight: bolder;
}
.text-sub a:hover {
  text-decoration: underline;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 600px) {
  .text {
    font-size: 16px;
  }
  .header {
    font-size: 2.1rem;
  }
  .rating {
    margin-top: 1.5rem;
    width: 16rem;
  }
  .text.rate {
    font-size: 2rem;
    padding: 15px;
  }
  .text.text10 {
    font-size: 1.5rem;
    padding: 7px;
  }
  .text-sub {
    font-size: 12px;
  }
  .small-head {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  #quote {
    font-size: 1.4rem;
  }
  .return {
    font-size: 0.9rem;
  }
  .return a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.4s ease;
    top: 36px;
    left: 7.5rem;
  }
  .return a:hover::after {
    width: 40.5%;
  }
}
