body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.gow {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content {
  position: relative;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  top: 0;
  right: 10px;
  bottom: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header {
  font-style: italic;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 1;
  width: 100%;
}

.header#art {
  top: 5%;
  left: 400px;
}

.header#sharp {
  top: 115%;
  left: 400px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  line-height: 22px;
  background-color: rgb(73, 61, 61, 0.5);
  border-radius: 10px;
  border: 2px solid;
  text-align: justify;
  padding: 14px;
  align-self: center;
}

.text#text1 {
  position: absolute;
  width: 750px;
  height: auto;
  top: 300px;
}

video {
  position: absolute;
  width: 700px;
  height: auto;
  top: 520px;
}

.text#text2 {
  position: absolute;
  width: 750px;
  top: 1040px;
}

.text#text3 {
  position: absolute;
  width: 750px;
  top: 1140px;
}

#quote {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  color: rgb(99, 9, 9);
  font-style: italic;
  font-weight: bolder;
  text-align: justify;
  z-index: 1;
  top: 1350px;
  left: 91%;
  width: 100px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  border: 1px solid whitesmoke;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(73, 61, 61, 0.5);
}

#quote-img {
  position: absolute;
  height: 300px;
  width: 550px;
  top: 1370px;
  left: 6%;
}
