html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: "Games", sans-serif; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container {
  /* container stays on top when scrolling down */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  min-height: 3.8em;
  width: 100%;
}

#back {
  position: absolute;
  color: white;
  left: 10px;
}
#back a {
  text-decoration: underline;
  color: purple;
}

.main {
  background-image: url(/images/ac.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* logos of game industries */
.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2.2rem;
  width: 37px;
  height: 30px;
  position: absolute;
  right: 200px;
  top: 12px;
}
.logos #ps:hover {
  transform: scale(1.3);
}
.logos img {
  max-width: 100%;
  transition: transform 0.3s ease;
}

.logos:hover img {
  cursor: pointer;
}

.logos #xbox:hover {
  transform: scale(1.3);
}

.logos #nintendo:hover {
  transform: scale(1.3);
}
#nintendo {
  height: 38px;
}
#pc {
  height: 38px;
}
.logos #pc:hover {
  transform: scale(1.3);
}
/*end of logos  */

/* sign in/up part */
.login {
  position: relative;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  bottom: 2px;
  height: 35px !important;
}

.login:hover {
  cursor: pointer;
}

#sign-up::after,
#sign-in::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.4s ease;
}

#sign-up::after {
  top: 36px;
  left: 0;
}

#sign-in::after {
  bottom: 16px;
  right: 0;
}

.login:hover #sign-up::after,
.login:hover #sign-in::after {
  width: 100%;
}
/* end of sign-in/up */
.search-container {
  position: relative;
  margin-top: -10px;
}
#bar {
  width: 30vw;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  border-radius: 18px;
  height: 38px;
  padding: 4px 2px 4px 22px;
  font-size: 18px;
  transition: padding 0.07s, height 0.2s ease;
}

.search-container #controller-img {
  position: absolute;
  transition: 0.5s;
  height: 20px;
  top: 22px;
  right: 0.5em;
}

#controller-img:hover {
  cursor: pointer;
  background: lightgrey;
  box-shadow: 0px 0 0 4px lightgrey;
  border-radius: 6px;
}

/* this is for removing the default "x" icon */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#xicon {
  position: absolute;
  border-radius: 16px;
  width: 28px;
  height: 28px;
  right: 3px;
  padding: 0;
  top: 16px;
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease, 0.5s;
}

#xicon:hover {
  background-color: lightgray;
  border-radius: 15px;
  cursor: pointer;
}
/* end of search bar */

/* categorizing column */
.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  position: absolute;
  color: rgb(76, 23, 23);
  top: 130px;
  left: 50%;
  font-size: 18px;
  margin: auto;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight: bold;
  text-wrap: nowrap;
}

#list {
  font-size: 16px;
  color: rgb(244, 240, 240);
  width: 1.3em;
  background: rgb(29, 27, 26);
  transition: width 0.4s ease;
  cursor: pointer;
}

#list.expanded {
  width: 8em;
}

#list:hover:not(.expanded),
#list:focus:not(.expanded) {
  width: 8em;
}

.posts {
  position: absolute;
  top: 170px;
  width: 55em;
  max-width: calc(95% - 40px);
  padding-bottom: 30px;
}

.gen:hover {
  filter: grayscale(1);
  transition: 0.4s;
  transform: scale(1.05);
  cursor: pointer;
}

.gen:not(:hover) {
  filter: grayscale(0);
  transition: 0.4s;
}

.gen {
  /* min-width: 400px; */
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 0px 10px 10px 0px;
  height: 10.6em;
  margin-bottom: 25px;
}

.gen-comment {
  padding: 2%;
  background-color: rgba(38, 24, 24, 0.7);
  /* hide the text when it overflows */
  overflow: hidden;
}

.comment {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-variant: small-caps;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: rgb(236, 228, 228);
}

.poster {
  width: 19em;
  height: 100%;
  float: left;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

@media (max-width: 935px) {
  #bar {
    width: 280px;
  }
}
/* cell view */
@media (max-width: 460px) {
  .poster {
    width: 100%;
    height: 100%;
  }
  .gen {
    border-radius: 0 0 10px 10px;
    height: 20em;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 2em;
  }
  .gen-comment {
    padding: 2%;
  }
  .sort {
    font-size: 1em;
    flex-direction: column;
  }
  #list {
    font-size: 14px;
    margin: 0 auto;
    width: 8.3em;
  }
  #bar {
    width: 60vw;
    font-size: 16px;
    padding-left: 18px;
    height: 2.1em;
  }
}
